main {
    min-height: 100vh;
    display: flex;
}

/* Visualizer styling */

.dagControlPanel {
    margin: 0;
    padding: 10px;
    background-color: #BEBEBE;
    flex: 1;
}

.dagViewer {
    text-align: center;
    margin: 0;
    padding: 0;
    flex: 3;
    font-size: 1.5rem;
}

.dagViewer ul {
    list-style-type: none;
}

.dagViewer span {
    display: inline-block;
    min-width: 200px;
}

.textInput {
    margin: 10px 0;
}

.textInput label {
    display: inline-block;
    width: 150px;
}
